# System & Temporary Files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
Thumbs.db

# Office temporary files
~$*
*.tmp

# Local testing & scratch scripts
test
*.py
*.js
*.txt
flowchart_template.html
ikaaaaaaaaaaaaaaa*.docx
AI Review Analyst Agent (Ika Agent) - Versi Ultimate Dewa (Dual Scraper Shopee & Gemini 3.5 Flash Lite) (1).json

# Environment & Credentials
.env
*.key
credentials/
